/Lab1
/Lab10
/Lab2
/Lab3
/Lab4
/Lab6
/Lab7
/Lab7.2
/Lab8
/Lab9
/Lab9.5
/Labs_Anu2.code-workspace
/Pregatire_Test
/SDA
/TEST
/Tests
.sync_ae16263c313a.db-wal
.gitignore
.gitignore
.sync_94efecc4cbb4.db
.sync_ae16263c313a.db
